 *
  {
    margin: 0;
    padding: 0;
  }
body
{
    background-image: url("../img/BGA.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Main
  {
   position: fixed; 
    display: flex;
    gap: 10px;
    padding: 20px;

  }
  .im
  {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 30px white;
    border-radius: 2cm;
    transition: 2s;
  }
  .im:hover
  {
    box-shadow: 0 0 30px gold;
    cursor: pointer;
    transform: scale(1.1);
  }
  .CN
  {
    margin-top: 25px;
    white-space: nowrap;
    color: mintcream;
    text-shadow: 4px 2px 5px gainsboro;
    transition: 2s;
  }
  .CN:hover
  {
    color:gold;
    cursor: pointer;
    transform: scale(1.1);
    text-shadow: 4px 2px 5px skyblue;
  }
  nav ul li
  {
    float: left;
    white-space: nowrap;
    
  }
  .Navitam
  {
    height: 40px;
    text-decoration: none;
    padding: 15px 20px;
    color:rgb(255, 255, 255);
    border-radius: 3cm;
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    font-weight: 500;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(200px);
    transition: 2s;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.329);
    font-weight: bolder;
    
  }
  .Navitam:hover
  {
    cursor: pointer;
    background-color: black;
  }
  .lis
  {
    transition: 2s;
  }
  .lis:hover
  {
    transform: translateY(20px);
  }
  .Manu
  {
    
    padding: 20px 20px;
    margin-left: 20cm;
    
  }
  .listmanu
  {
    list-style-type: none;
    gap: 10px;
    display: flex;
  }
  .head1
  {
    display: inline-block;
    white-space: nowrap;
    height: 2cm;
    margin-left: 140px;
    margin-top: 5cm;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    color: white;
    transition: 2s ease;
  }
  .head1:hover
  {   
   transform: scale(1.2);
   text-shadow: 20px 20px 0px rgb(0, 0, 0);
  }
  .About1
  {
   display: flex;
   margin-left: 40px;
  }
  .span1
  {
    display: inline-block;
    font-weight: bold;
    color:aqua;
    font-size: 30px;
    text-shadow: 0px 0px 2px black;
  }
  .par1
  {
   font-size: 25px;
   padding: 20px;
   width: 10cm;
   text-shadow: 2px 3px 2px white;
   
  }

  .p1im
  {
    width: 20cm;
    height: 10cm;
    margin-left: 3cm;
    margin-top: 2cm;
    transition: 1.5s all ease-in-out;
  }
  .p1im:hover
  {
    transform: translate(-3cm,-1cm);
  }

  .About2
  {
   display: flex;
  
  }
  .head2
  {
    display: inline-block;
    white-space: nowrap;
    height: 2cm;
    margin-left: 26cm;
    margin-top: 2cm;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    color: white;
    transition: 2s ease;
  }
  .head2:hover
  {   
   transform: scale(1.2);
   text-shadow: 20px 20px 0px rgb(0, 0, 0);
  }
 .ul1
 {
  margin-left: 1cm;
 }
  .par2
  {
    font-size: 30px;
    text-shadow: 3px 3px 1px white;
    transition: 2s ease;
    list-style: none;
  }
  .par2:hover
  {
   transform: scale(1.2);
   text-shadow: 20px 20px 0px white;
  }
  .p2im
  {
    width: 20cm;
    height: 10cm;
    margin-left: 1cm;
    margin-top: 2cm;
    margin-right: 3cm;
    transition: 1.5s all ease-in-out;
  }
  .p2im:hover
  {
    transform: translate(2cm,-1cm);
  }
   .About3
  {
   display: flex;
   height: 10cm;
  }
  .head3  
  {
    display: inline-block;
    white-space: nowrap;
    height: 2cm;
    margin-left: 200px;
    margin-top: 5cm;
    text-shadow: 3px 3px 1px rgb(0, 0, 0);
    color: white;
    transition: 2s ease;
  }
  .head3:hover
  {   
   transform: scale(1.2);
   text-shadow: 20px 20px 0px rgb(0, 0, 0);
  }
  .par3
  {
    font-size: 30px;
    text-shadow: 3px 3px 1px white;
    transition: 2s ease;
    list-style: none;
    margin-left: 3cm;
  }
  .par3:hover
  {
   transform: scale(1.2);
   text-shadow: 20px 20px 0px white;
  }
  .p3im
  {
    width: 20cm;
    height: 10cm;
    margin-left: 3cm;
    transition: 1.5s all ease-in-out;
    margin-bottom: 20cm;
  }
  .p3im:hover
  {
    transform: translate(-2cm,-1cm);
  }
  .final
  {
    display: flex;
    height: 4cm;
    background-color: rgb(239, 69, 103);
    margin-top: 2cm;
  }
  .About4
  {
    width: 100%;
  }
    .head4
  {
    text-align: center;
    padding: 20px;
    color: white;
    text-shadow: 4px 4px 1px black;
  }
  .par4
  {
    
    text-align: center;
    margin-left: 1.5cm;
    color: white;
    text-shadow: 4px 4px 1px black;
    font-size: 25px;
  }