*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body 
{   
    width: 100%;
    height: 100%;
    overflow-x: hidden
}
.INLOB
{   
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.INLO
{
   width: 28px;
}
body
{   
    position: relative; 
    background-image:url("../img/pic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(12, 10, 10, 0.628); /* change 0.5 = opacity */
    pointer-events: none; 
    z-index: -1;
}
.Form
{
     
    position: relative;
    z-index: 1;
    width: 90%;
    max-width: 450px;                   /* responsive */
    margin: 40px auto;
    padding: 20px;
    background: rgba(255,255,255,0.07);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    transition: 0.8s;
    transform: scale(1);
}
.q
{
    margin-top: 20px;
    color:rgb(6, 248, 236);
    text-align: center;
    position: relative;
    z-index: 1;
    
}

.A
{
   
    width: 90%;
    height: 40px;
    margin: 12px auto;
    display: block;
    padding: 5px;
    border-radius: 4px;
    border: none;
   
}
a
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1cm;
    
}
.Submit
{
    width: 120px;
    height: 40px;
    display: block;
    margin: 15px auto;
    
}
span
{
    display: inline-block;
    margin-top: 1cm;
}



/* animation when page loads */
body.loaded .Form {
  transform:scale(1.1);
}
.line
{
    display: block;
    width:60cm;
    margin-top: 1cm;
}
.d
{ 
    font-size: 18px;
    font-family: cursive;
    color: white;
}

.instagram
{
    margin-left: 0;
    margin-top: -.1cm;
}
.contact
{
    width: 100%;
    text-align: center;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}
.contact h2 {
    color: aqua;
}
