body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-image: url('../img/l.jpg');
    background-size:cover;
}

button {
    padding: 10px 20px;
    font-size: 18px;
}
