body 
{
  
  background-color: aqua;


}
img
{ 
position:fixed;
  width: 50px;
  height:50px;
  margin-top :50px;
  margin-left:20px;
}
.CN
{
 display:inline-block;
 margin-left:80px;
 margin-top: 50px;
}
nav
{
  display:inline-block;
  margin-left : 22cm;
  margin-bottom: 30cm;
  font-size: 30px;
}
.log
{
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 30px;
}
